STRINGTABLE
{
1	"Aerosmith"
2	"Afhgan Wings"
3	"Air"
4	"Alan Parsons Project"
5	"Alice In Chains"
6	"Angry Samoans"
7	"Arnaldo Baptista"
8	"Ash"
9	"Asian Dub Foundation"
10	"Aswad"
11	"At The Drive-In"
12	"Atari Teenage Riot"
13	"Australian Crawl"
14	"Babybird"
15	"Bad Company"
16	"Bad Religion"
17	"Bangles"
18	"Bauhaus"
19	"Beach Boys"
20	"Beatles"
21	"Beck"
22	"Belle & Sebastian"
23	"Billy Idol"
24	"Björk"
25	"Black Box Recorder"
26	"Black Crowes"
27	"Black Flag"
28	"Black Sabbath"
29	"Blondie"
30	"Blur"
31	"Bob Dylan"
32	"Bob Mould"
33	"Boo Radley's"
34	"Brian Setzer Orchestra"
35	"Bruce Springsteen"
36	"Buffalo Tom"
37	"Built To Spill"
38	"Buzzcocks"
39	"Cabaret Voltaire"
40	"Cafe Tacuba"
41	"Cake"
42	"Camper Van Beethoven"
43	"Capital Inicial"
44	"Cardigans"
45	"Cat Power"
46	"Catatonia"
47	"Charlie Brown Jr."
48	"Cherry Poppin' Daddies"
49	"Chico Science & Nação Zumbi"
50	"Cocteau Twins"
51	"Coldplay"
52	"Cornershop"
53	"Cosmic Rough Riders"
54	"Cream"
55	"Creative Rock"
56	"Culture Club"
57	"Cypress Hill"
58	"David Bowie"
59	"Dead Kennedys"
60	"Deep Purple"
61	"Delgados"
62	"Depeche Mode"
63	"Descendents"
64	"dEUS"
65	"Dexy's Midnight Runners"
66	"Dick Dale & His Del-Tones "
67	"Dire Straits"
68	"Divinyls"
69	"Down By Law"
70	"Duran Duran"
71	"Echo & The Bunnymen"
72	"Einstuerzende Neubauten"
73	"Elastica"
74	"Electronic"
75	"Elliot Smith"
76	"Elvis Costello"
77	"EMF"
78	"Engenheiros do Hawaii"
79	"Eric Clapton"
80	"Eugenius"
81	"Eurythmics"
82	"Everclear"
83	"Everything But The Girl"
84	"Faith No More"
85	"Fatboy Slim"
86	"Finis Africae"
87	"Fleetwood Mac"
88	"Foo Fighters"
89	"Fountains of Wayne"
90	"Frank Black"
91	"Free"
92	"Fugazi"
93	"Fugees"
94	"Galaxie 500"
95	"Gang 90"
96	"Ganggajang"
97	"Garbage"
98	"Gary Numan"
99	"Genesis"
100	"George Harrisson"
101	"Goldfrapp"
102	"Gomez"
103	"Gorillaz"
104	"Gorky's Zygotic Mynci"
105	"Grandaddy"
106	"Grant Hart"
107	"Grant Lee Buffalo"
108	"Guided By Voices"
109	"Guns N'Roses"
110	"Heróis da Resistência"
111	"House of Love"
112	"Human League"
113	"Hüsker Dü"
114	"Iggy Pop"
115	"INXS"
116	"Ira!"
117	"Iron Maiden"
118	"James"
119	"Jane's Addiction"
120	"Janis Joplin"
121	"Jeff Buckley"
122	"Jethro Tull"
123	"Jimi Hendrix"
124	"JJ72"
125	"Joe Strummer & The Mescaleros"
126	"John Lennon"
127	"Joy Division"
128	"Junkie XL"
129	"Kid Abelha"
130	"Kinks"
131	"Kiss"
132	"Kraftwerk"
133	"Kula Shaker"
134	"Lagwagon"
135	"L'Arc-en-Ciel"
136	"Led Zeppelin"
137	"Legião Urbana"
138	"Lenny Kravitz"
139	"Linkin Park"
140	"Lloyd Cole & The Commotions"
141	"Lobão"
142	"Lou Reed"
143	"Love & Rockets"
144	"LTJ Bukem"
145	"Luna"
146	"Lush"
147	"Lynyrd Skynyrd"
148	"Madness"
149	"Madonna"
150	"Manic Street Preachers"
151	"Mano Negra"
152	"Mansun"
153	"Manu Chao"
154	"Marillion"
155	"Marylin Manson"
156	"Massive Attack"
157	"MC5"
158	"Meat Beat Manifesto"
159	"Meat Puppets"
160	"Men At Work"
161	"Mercury Rev"
162	"Mettalica"
163	"Midnight Oil"
164	"Mike Watt"
165	"Minutemen"
166	"Monaco"
167	"Morphine"
168	"Morrissey"
169	"Motörhead"
170	"Mott The Hoople"
171	"Mudhoney"
172	"Mutantes"
173	"My Bloody Valentine"
174	"Nada Surf"
175	"Ned's Atomic Dustbin"
176	"Neil Young"
177	"New Order"
178	"New Radicals"
179	"New York Dolls"
180	"Nick Cave & The Bad Seeds"
181	"Nightwish"
182	"Nirvana"
183	"No Use For A Name"
184	"NOFX"
185	"Ocean Colour Scene"
186	"Oingo Boingo"
187	"Orb"
188	"Orbital"
189	"Os Paralamas do Sucesso"
190	"P. J. Harvey"
191	"Patti Smith"
192	"Paul McCartney"
193	"Pavement"
194	"Pearl Jam"
195	"Pennywise"
196	"Peter Gabriel"
197	"Pixies"
198	"Placebo"
199	"Plebe Rude"
200	"Porno For Pyros"
201	"Portishead"
202	"Posies"
203	"Possum Dixon"
204	"Pretenders"
205	"Primal Scream"
206	"Psychedelic Furs"
207	"Public Image Limited"
208	"Pulp"
209	"Queen"
210	"Queens of the Stone Age"
211	"R.E.M."
212	"Radiohead"
213	"Rage Against The Machine"
214	"Rammstein"
215	"Ramones"
216	"Rancid"
217	"Red Hot Chili Peppers"
218	"Reprazent"
219	"Ride"
220	"Rita Lee"
221	"RKL"
222	"Rocket From The Crypt"
223	"Rogério Skylab"
224	"Rolling Stones"
225	"Roxy Music"
226	"Roy Orbison"
227	"RPM"
228	"Rush"
229	"Santana"
230	"Sepultura"
231	"Sex Pistols"
232	"Shelter"
233	"Siouxsie & The Banshees"
234	"Skank"
235	"Slipknot"
236	"Sonic Youth"
237	"Soundgarden"
238	"Soup Dragons"
239	"Spandau Ballet"
240	"Sparklehorse"
241	"Specials"
242	"Squirrel Nut Zippers"
243	"Starsailor"
244	"Steely Dan"
245	"Steppenwolf"
246	"Stereolab"
247	"Stereophonics"
248	"Stone Roses"
249	"Stone Temple Pilots"
250	"Stray Cats"
251	"Suede"
252	"Sugarcubes"
253	"Super Furry Animals"
254	"Superchunk"
255	"Supergrass"
256	"Swervedriver"
257	"System Of A Down"
258	"Talking Heads"
259	"Teenage Fanclub"
260	"The Ataris"
261	"The Auteurs"
262	"The B-52's"
263	"The Beta Band"
264	"The Bloodhound Gang"
265	"The Breeders"
266	"The Cars"
267	"The Chemical Brothers"
268	"The Clash"
269	"The Cramps"
270	"The Cranberries"
271	"The Cure"
272	"The Dandy Warhols"
273	"The Donnas"
274	"The Doors"
275	"The Fall"
276	"The Flaming Lips"
277	"The Housemartins"
278	"The Jam"
279	"The Jesus & Mary Chain"
280	"The Jon Spencer Blues Explosion"
281	"The Mission"
282	"The Offspring"
283	"The Police"
284	"Prodigy"
285	"The Reverend Norton Heat"
286	"The Sisters of Mercy"
287	"The Smiths"
288	"The Strokes"
289	"The Style Council"
290	"The Verve"
291	"The Wedding Present"
292	"The Who"
293	"Tindersticks"
294	"Titãs"
295	"Travis"
296	"T-Rex"
297	"U2"
298	"UB40"
299	"Ultraje a Rigor"
300	"Underworld"
301	"v. Spy v. Spy"
302	"Vaselines"
303	"Velvet Underground"
304	"Voodoo Glow Skulls"
305	"Weezer"
306	"Wilco"
307	"Wire"
308	"XTC"
309	"Yardbirds"
310	"Yo La Tengo"
311	"Zumbi do Mato"
}
